
:root{
  --clr-neon: hsl(317 100% 54%);

}

h1 {

  font-family: 'ralway',sans-serif;
    font-weight: 900;
    font-size: 8em;
    background-image: url("https://media1.giphy.com/media/yoJC2rYfuDLw3wakRa/200w.webp?cid=ecf05e47nziizxx34wtmv6uxz1inhyze6n61nsn0r99hs2wa&rid=200w.webp&ct=g");
    back-ground-size: cover;
    background-clip:  text;
    -webkit-background-clip:  text;
    color:  transparent;
    position: relative;
    z-index: 30;



}
#cardAcc
{
  background: rgb(255,255 ,255,0.05);
  backdrop-filter: blur(15px);

}
#cardAcc:hover{
  transform: scale(1.11) ;
  background: #DB7093;
  box-shadow: 0 0 20px  var(--clr-neon),
              0 0 40px  var(--clr-neon),
              0 0 80px  var(--clr-neon),
              0 0 100px var(--clr-neon);
}
#box{
    
  border-radius: 25px 0 0 25px;
}


#icon {
  border-radius:0 25px 25px 0;
  background: #ffc107;

}
#icon:hover{
  background:#ff5722 ;

}
.rotate {
 animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
 from {
  transform: rotate(0deg);
 }

 to {
  transform: rotate(180deg);
 }
}